@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}

.uppercase {
    text-transform: uppercase;
}

/*backgrounds*/

/*colors*/
