nav {
    color: #2D291B;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ sections*/

.callout-container {
    background-color: #444;
    background-image: url("../img/minimal.jpg");
    /*background-blend-mode: overlay;*/
    background-size: cover;
    height: 95vh;        /* how do i factor in the navbar?*/
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.section-cover-btn {
    background-color: inherit;
}
.section-cover-btn:hover {
    background-color: #198C7F;
}


.section-cover-wrapper {
    display: flex;
    flex-flow: column nowrap;
    /*justify-content: center;*/
    align-items: center;
}


.section-cover-wrapper p,
.section-cover-wrapper h1 {
    width: 60vw;
}

/*  ------ MAIN-CONTENT ------ */
.main-content {
    background-color: #F5DD90;
    padding: 0;
    margin:  0;
}

/*MAIN-CONTENT > SUMMARY*/
.summary,
.sections-item {
    padding: 0 1rem 1rem 1rem;
}

.summary .outer-container {}
.summary img {
    display: none;
}

/*MAIN-CONTENT > CONTENT*/
.inner-container {
    text-align: justify;
    text-justify: inter-word;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer*/
.footer-container {
    background-color: #D1603D;
}


.footer-social > h5 {
    padding: 20px 0;
}


.footer-social div ul {
    margin: 0px;
}


.social-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.footer-social .social-links li a {
    padding: 0 10px;
}

.footer-social .social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 23px;
    text-align: center;
    color: #fafafa;
    position: relative;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-social .social-links li a i:hover {
    background: #F0A202;
    color: #2D291B;
}

.footer-copyright {
    padding: 1rem 0px;
}
