
.container-main {
    background-color: #F8BA1F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ callout-container*/

.callout-container {
    background-color: #444;
    background-image: url("../img/minimal.jpg");
    /*background-blend-mode: overlay;*/
    background-size: cover;
    height: 100vh;
    /* how do i factor in the navbar?*/
    padding: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main h2 {
    text-align: center;
}


.section-cover-wrapper {
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*----------------------------------*/
.container-main .accordion .card img {
    display: none;
}



.btns-mystory {
    text-align: right;
}

.btn-benefits {
    margin-left: auto;
    display: block;
    width: 10rem;
    /*color: #2D291B;*/
    /*background-color: transparent;*/
    /*font-weight: 500;*/
}

/*.btn-configuration {*/
/*        color: #2D291B;*/
/*        background-color: transparent;*/
/*        font-weight: 500;*/
/*}*/

/*.btn-resources {*/
/*        color: #2D291B;*/
/*        background-color: transparent;*/
/*        font-weight: 500;*/
/*}*/

.btn-dark {
    color: #2D291B;
    background-color: transparent;
    font-weight: 500;
}


.btn-resources:hover,
.btn-configuration:hover,
.btn-benefits:hover {
    color: #ffc108;
    /*background-color: black;*/
}