@media (min-width: 401px) {

    /* ------ specs.html ------ */
    .specs-inner-container {
        height: 435px;
    }
}

@media (min-width: 576px) {

    /* ------ specs.html ------ */
    .specs-inner-container {
        height: 280px;
    }

    .tab-content>.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tab-content-overview-buttons {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
    }

    .specs-outer-container>img {
        padding: 1.25rem;
        height: 380px;
        align-self: center;
    }
}

@media (min-width: 768px) {

    /* ------- main page -------*/
    .container-main .accordion .card img {
        display: block;
        margin: 0 auto;
    }

    /* ------ specs.html ------ */
    .specs-inner-container {
        height: 280px;
    }

    .tab-content {
        height: 81%;
    }


}

/*large screens only*/

@media (min-width: 992px) {

    /* ------ basics ------ */
    #navbarNavAltMarkup {
        justify-content: flex-end;
    }

    /* ------ specs.html ------ */
    .specs-inner-container {
        height: 310px;
    }

    .tab-content {
        height: 89%;
    }

    .container-specs {
        display: flex;
        flex-flow: row wrap;
    }

    /*target all the childern - h2 img specs-inner-container*/
    .specs-outer-container {
        flex: 1 1 45%;
    }

    /* ------ index/benefits.html ------ */
    .accordion {
        width: 70%;
        margin: 1rem auto;
    }

}

/* for desktp size screens*/

@media (min-width: 1200px) {

    /* ------ specs.html ------ */
    .specs-outer-container {
        flex: 1 1 2%;
    }

    .specs-inner-container {
        height: 360px;
    }

    .card-contact {
        /*margin: 1.25rem auto;*/
        /*margin-bottom: 2rem;*/
        width: 60%;
    }

}


/*for 1440p and higher res screens*/

@media (min-width: 1800px) {

    .specs-outer-container .img1 {
        display: none
    }

    .specs-outer-container .img2 {
        display: block;
        padding: 1.25rem;
        height: 380px;
        align-self: center;
    }

    .card-contact {
        /*margin: 1.25rem auto;*/
        /*margin-bottom: 2rem;*/
        width: 40%;
    }


}
