@media (min-width: 576px) {}

@media (min-width: 768px) {

    /*MAIN-CONTENT > SUMMARY*/
    .summary .outer-container {
        display: flex;
        flex-direction: column;
    }
    
    .summary img {
        max-width: 40vw;
        display: block;
        align-self: center;
    }

}

/*large screens only*/
@media (min-width: 992px) {
    #navbarNavAltMarkup {
        justify-content: flex-end;
    }

    /*MAIN-CONTENT > SUMMARY*/
    .summary .outer-container {
        display: flex;
        flex-direction: row;
    }
    
    .summary .inner-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    
    .summary img {
        max-width: 450px;
    }


    /*reponsive sections layout */
    .sections-container {
        display: flex;
        flex-flow: row wrap;
    }

    .sections-item {
        flex-basis: 50%;
    }
}




@media (min-width: 1200px) {

    /*MAIN-CONTENT > SUMMARY*/
    .summary .outer-container {
        display: flex;
        flex-direction: row;
    }
    .summary img {
        max-width: 500px;
        /*display: inline-block;*/
    }


    /*reponsive sections layout */
    .sections-container {
        display: flex;
        flex-flow: row wrap;
    }

    .sections-item {
        /*flex-basis: 30%;*/
        flex: 1 1 30%;
    }

}
