
.specs-outer-container > img {
    padding: 1.25rem;
    width: 80%;
}

.collapse-outer-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-specs {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.specs-outer-container {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin: 1rem;
    padding: 1rem;
}


.tab-content {
    padding-top: 0.625rem;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: 0.625rem;
}