/*grid column - holding all the components ram, psu, cpu ..*/
.container-specs {
    display: flex;
    flex-flow: column nowrap;
}

/*container holding individual components - h2 img .specs-inner-container */
.specs-outer-container {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/*container - holding nav-tabs and their contents*/
.specs-inner-container {
    height: 360px;
    /*max-width:  */
}

/*individual component images*/
.specs-outer-container > img {
    padding: 1.25rem;
    height: 380px;
    align-self: center;
}

/*individual component h2*/
.specs-outer-container h2 {
    align-self: center;
}

/*target all the childern - h2 img specs-inner-container*/
.specs-outer-container * {}


/*container - holding contents of tab-panes- two on each component for both tabs*/
.tab-content {
    padding-top: 0.625rem;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: 0.625rem;
    height: 89%;
    display: flex;
}

.tab-content>.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn-warning:hover {
  color: white;
  background-color: #D1603D;
  border-color: #d39e00;
}